<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/about.css">
</head>

<body>
    <span style="font-size:30px" class="span1">Hay hoi cong dong 1 cau hoi dung sai hoac co khong</span>
    <form action="/question/add" method="POST">
        <textarea name="text" id="" cols="70" rows="10"></textarea>
        <br>
        <button type="button">Gui</button>
    </form>
</body>

</html>