<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            background-color:#FBFEF9 
        }
        #header {
            font-size: 25px;
            font-family:Arial, Helvetica, sans-serif;
            line-height: 25px;
            border-bottom: 1px solid #cccccc;
            margin-left: 10%;
            margin-right: 10%;
            color: #BF1363;
        }
    </style>
</head>
<body>
    <nav id="header">Score Keeper</nav>
    {{{body}}}
</body>
</html>