<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
    </head>
    
<body>
    <nav class="mainnav">
        <span id="Quyet">Quyet De</span>
        <a href="/ask"><span class="header">Hoi Nhanh</span></a>
        <a href="/"><span class="header">Dap Gon</span></a>
    </nav>
    {{{body}}}
    <footer>san pham cua Nguyen Tri Hieu </footer>
</body>
</html>